@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

body{
	margin: 60px 100px;
}

header {
	margin: 60px 0;
}

header h1{
	font-size: 64px;
	font-family: 'Raleway', sans-serif;
}

button {
	padding: 5px 15px;
	background-color: rgba(0,0,0,0);
	border-radius: 5px;
	border: 1px solid;
}

button:hover{
	background-color: black;
	color: white;
}

.challenge {
	margin: 40px 0;
	max-width: 540px;
}

.challenge .description {
	margin: 12px 0;
}

.challenge .user-input {
	display: flex;
}

.challenge .user-input textarea {
	width: 200px;
	padding-top: 20px;
	padding-left: 5px;
	margin-right: 12px;
	border-radius: 5px;
}

.detail {
	font-size: 12px;
	margin: 10px 0;
}

.challenge .result {
	margin: 12px 0;
	width: 100%;
	height: 120px;
	border: 1px solid grey;
	border-radius: 5px;
	font-size: 12px;
	padding: 15px;
}

.center-text {
	text-align: center;
}

footer ul {
	margin-top: 10px;
}

footer li {
	display: table-cell;
	font-size: 12px;
	list-style-type: none;
	padding-right: 10px;
}

footer a {
	text-decoration: none;
	vertical-align: middle;
}

footer li img {
	height: 20px;
	vertical-align: middle;
	border: 5px solid white;
}

footer span {
	vertical-align: middle;	
}

@media only screen and (max-width: 540px) {
	body {
		margin: 20px;
	}

	header {
		margin: 20px 0;
	}
}